body{
    text-align: center;
    background-color:pink;
}
h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img{
    width: 200px;
    height: 200px;
}

.p1{
    grid-area: p1;
    border-radius: 5px;
}
.p2{
    grid-area: p2;
    border-radius: 5px;
}
.p3{
    grid-area: p3;
    border-radius: 5px;
}
.p4{
    grid-area: p4;
    border-radius: 5px;
}
.p5{
    grid-area: p5;
    border-radius: 5px;
}
.p6{
    grid-area: p6;
    border-radius: 5px;
}
.p7{
    grid-area: p7;
    border-radius: 5px;
}
.p8{
    grid-area: p8;
    border-radius: 5px;
}
.p9{
    grid-area: p9;
    border-radius: 5px;
}
.container{
    display: grid;
    row-gap: 5px;
    column-gap: 10px;
    width: 100%;
     grid-template-columns: repeat(3,auto) ;
      grid-template-rows: repeat(3,auto) ;
       grid-template-areas:
       "p1 p2 p3"
       "p4 p5 p6"
       "p7 p8 p9"
}